:root {
  --bg-color: #2a2a2a;
  --second-bg-color: #202020;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: #eba83a;
  --big-font: 5.5rem;
  --h2-font: 4rem;
  --p-font: 1.7rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: var(--bg-color);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 22px 15%;
  transition: all 0.45s ease;
}
.header__logo img {
  display: block;
  width: 7rem;
}
.header__nav {
  display: flex;
}
.header__nav a {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.45s ease;
}
.header__nav a:hover {
  color: var(--main-color);
}
.header__nav--home {
  color: var(--main-color) !important;
}
.header #menu-icon {
  font-size: 3.5rem;
  color: var(--text-color);
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
  padding: 12px 15%;
}

section {
  padding: 140px 15% 120px;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  color: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__backgroundimg img {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.2;
}
.home__saludo {
  margin-bottom: 20px;
}
.home__saludo--hello {
  display: inline-block;
  margin-right: 12px;
  height: 32px;
  padding: 0 15px;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--text-color);
}
.home__saludo--im {
  font-size: 2rem;
  font-weight: 500;
}
.home__title {
  color: var(--text-color);
  font-size: var(--big-font);
  font-weight: 700;
  margin: 0 0 8px;
  line-height: 1.1;
}
.home__subtitle {
  color: var(--text-color);
  font-size: var(--h2-font);
  font-weight: 700;
  margin: 0 0 35px;
  line-height: 1.1;
}
.home__subtitle span {
  color: var(--main-color);
}
.home__text {
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 40px;
}
.home__btns--1 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 35px;
  display: inline-flex;
  align-items: center;
}
.home__btns--1 span i {
  background-color: var(--main-color);
  border-radius: 50%;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: all 0.45s ease;
}
.home__btns--1 span i:hover {
  transform: scale(1.1);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10rem;
}
.about__text h2 {
  color: var(--text-color);
  font-size: var(--h2-font);
  line-height: 1;
  margin-bottom: 3rem;
}
.about__text h2 span {
  color: var(--main-color);
}
.about__text h4 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about__text p {
  color: var(--second-color);
  font-size: var(--p-font);
  letter-spacing: 1px;
  line-height: 1.7;
  margin-bottom: 4rem;
}
.about__img img {
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--second-bg-color);
}
.services__main p {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 15px;
}
.services__main h2 {
  color: var(--text-color);
  font-size: var(--h2-font);
  line-height: 1;
}
.services__main h2 span {
  color: var(--main-color);
}
.services__boxes {
  display: flex;
  gap: 2.5rem;
  margin-top: 8rem;
}
.services__boxes-box {
  background: var(--bg-color);
  border-radius: 8px;
  padding: 35px 45px;
  transition: all 0.45s ease;
}
.services__boxes-box i {
  color: var(--text-color);
  font-size: 32px;
  margin-bottom: 20px;
}
.services__boxes-box h3 {
  color: var(--text-color);
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.services__boxes-box p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 25px;
}
.services__boxes-box a {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  display: inline-block;
  padding: 8px 18px;
  background-color: #333333;
  border-radius: 5px;
  transition: all 0.45s ease;
}
.services__boxes-box a:hover {
  letter-spacing: 1px;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.6);
}
.services__boxes-box:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.portfolio__main {
  text-align: center;
}
.portfolio__main p {
  color: var(--text-color);
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.portfolio__main h3 {
  color: var(--text-color);
  font-size: var(--h2-font);
  line-height: 1;
}
.portfolio__main h3 span {
  color: var(--main-color);
}
.portfolio__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 8rem;
}
.portfolio__boxes-box {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.portfolio__boxes-box img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
.portfolio__boxes-box--layer {
  position: absolute;
  width: 100%;
  height: 0%;
  left: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 8px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #333);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.portfolio__boxes-box--layer h5 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--text-color);
}
.portfolio__boxes-box--layer p {
  color: var(--second-color);
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 20px;
}
.portfolio__boxes-box--layer a {
  color: var(--main-color);
  font-size: 2rem;
  background: var(--text-color);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.portfolio__boxes-box:hover .layer {
  height: 100%;
}
.portfolio__boxes-box:hover img {
  transform: scale(1.1);
}

.contact {
  background-color: var(--second-bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
}
.contact__main-texts h3 {
  color: var(--text-color);
  font-size: var(--h2-font);
  line-height: 1;
  margin-bottom: 10px;
}
.contact__main-texts h3 span {
  color: var(--main-color);
}
.contact__main-texts h5 {
  color: var(--text-color);
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 15px;
}
.contact__main-texts p {
  color: var(--second-color);
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.8;
  margin-bottom: 30px;
  padding-right: 2rem;
}
.contact__main-cont p {
  margin-bottom: 5px;
  color: var(--second-color);
  font-size: 1.4rem;
  font-weight: 200;
}
.contact__main-icons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
.contact__main-icons a {
  color: var(--text-color);
  font-size: 2rem;
  background: var(--main-color);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: all 0.45s ease;
}
.contact__main-icons a:hover {
  transform: scale(1.1);
}
.contact__form .form input,
.contact__form textarea {
  width: 100%;
  padding: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 8px;
  margin-bottom: 10px;
}
.contact__form .form textarea {
  resize: none;
  height: 240px;
}
.contact__form .submit {
  display: inline-block !important;
  font-size: 1.6rem !important;
  background-color: var(--main-color) !important;
  color: var(--text-color) !important;
  width: 160px !important;
  transition: all 0.45s ease !important;
}
.contact__form .submit:hover {
  transform: scale(0.9);
}

.end {
  display: flex;
  justify-content: space-between;
  padding: 20px 15%;
  align-items: center;
  gap: 3.2rem;
  background-color: var(--bg-color);
}
.end__text p {
  color: var(--second-color);
  font-size: 1.4rem;
}
.end__top i {
  padding: 10px;
  border-radius: 8px;
  font-size: 1.5rem;
  color: var(--text-color);
  background-color: var(--main-color);
}

@media (max-width: 1480px) {
  .header {
    padding: 12px 2.5%;
    transition: 0.1s;
  }
  header.sticky {
    padding: 12px 2.5%;
    transition: 0.1s;
  }
  section {
    padding: 110px 3% 60px;
  }
  .end {
    padding: 15px 3%;
  }
}
@media only screen and (max-width: 1100px) {
  .home {
    height: 87vh;
  }
  .home__text {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 850px) {
  .home {
    padding-bottom: 0;
  }
  .about {
    padding-top: 0;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .about__img {
    text-align: center;
    order: 2;
  }
  .about__text {
    padding: 0 3rem 0 3rem;
  }
  .services__boxes {
    flex-direction: column;
  }
  .contact {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact__main-icons {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 700px) {
  #menu-icon {
    display: block !important;
  }
  .header__nav {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    text-align: left;
    transition: all 0.45s ease;
  }
  .header__nav a {
    display: block;
    margin: 0.17rem;
    font-size: 2rem;
    transition: all 0.45s ease;
    color: var(--text-color);
  }
  .header__nav a:hover {
    color: var(--main-color);
  }
  .header__nav a.active {
    color: var(--text-color) !important;
  }
  .header__nav.open {
    top: 100%;
  }
  .header-open {
    background-color: var(--bg-color);
    transition: 0.5s;
  }
}/*# sourceMappingURL=styles.css.map */